mat-sidenav-container {
  flex: 1 1 auto;
}

mat-sidenav {
  flex: 0 0 auto;
  width: 300px;
}

.sidenav-content {
  border: 0 none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-sidenav-content{
  border: 0 none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.chart-container {
  padding: 0;
  margin: 0;
  border: 0 none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
